body {
  background-color: rgb(246, 240, 240);
  margin: 0;
}
.container {
  margin: 0;
  padding: 0;
  background: rgb(198, 213, 235);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/********inicio  header**************/
header {
  width: 100%;
  height: auto;
  margin-top: 0;
  background-color: crimson;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h1 {
  width: 100%;
}
.huevo {
  width: 126px;
  height: 180px;
  background-color: #5cb85c;
  -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.zonaTest {
  width: 1000px;
  height: 300px;
  background-color: rgb(179, 240, 240);
  border: 1px;
  border-color: black;
   margin-bottom: 10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}
.figura1 {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background: #5cb85c;
  -moz-border-radius: 100% 0 0 0;
  -webkit-border-radius: 100% 0 0 0;
  border-radius: 100% 0 0 0;
}
.figura2 {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background: #271c45;
  -moz-border-radius: 0 100% 0 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  
}
.figura4 {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background: #a1b85c;
  -moz-border-radius: 0 0 100% 0;
  -webkit-border-radius: 0 0 100% 0;
  border-radius: 0 0 100% 0;
}
.figura3 {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  background: #b85c8d;
  -moz-border-radius: 0 0 0 100%;
  -webkit-border-radius: 0 0 0 100%;
  border-radius: 0 0 0 100%;
}
.up {
  width: 50%;
  display: flex;
 align-items: flex-end;
  margin-bottom: 0;
}
.left{
  justify-content: flex-end;
}
.right{
  justify-content: flex-start;
}
.down{
  margin-top: 0;
  align-items: flex-start;
}
/***fin header******/
section {
  margin-top: 2;
  background-color: chocolate;
}
footer {
  margin-bottom: 0;
  background-color: khaki;
}
